.main-image{
  height:250px;
  width:100%;
/*background-image:url("https://cdns-images.dzcdn.net/images/misc/44dfebf3cf943dd82759d9bd9063767a/1000x1000-000000-80-0-0.jpg");
*/font-family: 'Roboto Mono', monospace;
background: rgb(50,97,200);
background: linear-gradient(331deg, rgba(50,97,200,1) 6%, rgba(35,59,140,1) 100%);
}
.black-main{
  width:100%;
  height:100%;
  background: rgb(18,18,22);
  background: linear-gradient(0deg, rgba(18,18,22,1) 12%, rgba(255,255,255,0) 100%);
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:flex-start;
}
.text-main{
  margin-left:30px;
}
.table-detail{
  margin-bottom: 100px;
}
.back{
  cursor: pointer;
}
