body{
    background-color:	#282828;
    color: white;
    font-family: 'Roboto Mono', monospace;

}
/*
    COLORS

    orange: #E3651C
    purple:  #4A469E
    magenta: #847FEB
    light green: #7DEB67
    dark green:  #5B9E4D

 */


.slide1{
  background: rgb(103,144,235);
  background: linear-gradient(331deg, rgba(103,144,235,1) 6%, rgba(77,96,158,1) 100%);


    color: white;
     height: 400px;
}

.slide-img{
    width: 375px;
    height: 375px;
}

.slide-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-text-box{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    font-size: 20px;
}

.index-box{
    width:300px;
    height:300px;
    border-radius: 10px;
}

.box-box{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
}
.shadow{
  border-radius: 50px;
  width: 300px;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0,0.5);
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  border-radius: 10px;
}
.shadowV{
  width: 300px;
  height: 100%;
  flex-direction: column;
  position: absolute;
  background-color: rgba(0, 0, 0,0.5);
  align-items: center;
  display:flex;
  justify-content: center;
  visibility:visible;
  border-radius: 10px;
}
.text-rw{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}
.index-img{
  height: 350px;
  width: 350px;
  border-radius: 200px;
  margin-top: 200px;
}
.index-box-t1{
  display: flex;
  justify-content:center;
  align-items:flex-end;
  flex-direction: column;
  text-align: right;
  margin-top: 200px;
  font-size: 20px;
}
.index-box-t2{
  text-align: left;
  display: flex;
  justify-content:center;
  align-items:flex-start;
  flex-direction: column;
  margin-top: 200px;
font-size: 20px;
}
.info-box{
margin-top: 30px;
}
.contact{
  margin-top: 30px;
  display: flex;
  justify-content:center;
  align-items:center;
  padding: 60px;
  flex-direction: column;
  background: rgb(50,97,200);
  background: linear-gradient(331deg, rgba(50,97,200,1) 6%, rgba(35,59,140,1) 100%);
}
.contact-btn{
  padding: 10px;
  border-width:4px;
  color: white;
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0);;
  border-radius: 50px;
}
footer{
  background-color: #000;
  display: flex;
  justify-content:center;
  align-items:center;
  padding: 35px;
  flex-direction: column;
}
.social{
  display: flex;
  justify-content:center;
  align-items:center;
}
.network{
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content:center;
  align-items:center;
  color: #000;
  margin-right: 30px;
  margin-left: 30px;
}
.links{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
width: 300px;
}
